
.blocks_bottomFcs_layslide{
	display: none;
}

section.home-sec-4{
	padding-bottom: 6.5rem;
}
section.home-sec-1 button.lihatsemua{
	left: 0px;
}

.outers_inner_content_detail_sarjana .box-details ol li,
.outers_inner_content_detail_sarjana .box-details ul li{
	margin-bottom: 0.2rem;
}

.outers_inner_content_detail_sarjana .box-details table td{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #000;
}
.outers_inner_content_detail_sarjana .box-details table td{
	vertical-align: top;
}
.outers_inner_content_detail_sarjana .box-details table td p{
	margin-bottom: 0;
}
.outers_inner_content_detail_sarjana .box-details table td ul,
.outers_inner_content_detail_sarjana .box-details table td ol{
	margin: 0;
	margin-right: 0;
}

.outers_inner_content_detail_sarjana .box-details table td, 
.outers_inner_content_detail_sarjana .box-details table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.alert-success.fade{	
	opacity: 1 !important;
}