header.head.head_inisdes{
	position: relative;
	.bottoms_head{
		background-color: #fff;
		padding: 1rem 0;
		.bck_lines{
			background-color: #464dff;
			height: 64px;
			width: 2px;
		}
		.latsn{
			i{
				font-weight: 700;
				font-style: italic;
			}
			font-size: 20px; 
			font-weight: 500;
			color: #4d4d4d;
		}
		clear: both;
	}
}

header.head{
	width: 100%;
	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 190;

	.tops_head{
		width: 100%;
		height: 42px;
		background-color: #1e1f49;
		.lft_mnu{
			ul{
				li{
					a{
						font-size: 14px;
						font-weight: 600;
						color: #fff;
					}
					margin-right: 1.4rem;
				}
				margin: 0;
			}
			line-height: 42px;
			clear: both;
		}

		ul.rhd_right{
			text-align: right;
			li{
				a{
					font-size: 14px;
					font-weight: 600;
					color: #fff;
					i.fa{
						font-size: 13px;
						font-weight: 700;	
					}
				}
				padding: 0 1.6rem;
				border-left: 1px solid #585aac;
				margin-right: 0rem;
				height: 42px;
				line-height: 42px;

				font-size: 14px;
				font-weight: 600;
				color: #fff;
			}
			li.lasts_lang{
				border-right: 1px solid #585aac;
			}
			margin: 0;
		}

	}


	.bottoms_head{

		.bck_lines{
			background-color: #464dff;
			height: 64px;
			width: 2px;
		}
		.latsn{
			i{
				font-weight: 700;
				font-style: italic;
			}
			font-size: 20px; 
			font-weight: 500;
			color: #fff;
			line-height: 1.2;
		}
		clear: both;
	}
	clear: both;

	a:focus,
	a:hover{
		text-decoration: none;
	}
}

.outers_fcs_wrapper{
	position: relative;
}

.pos-nbottoms_lidn{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	z-index: 600;
	padding-bottom: 3.5rem;
}
.blocks_bottomFcs_layslide{
	background: url('../images/backs_sld_bottom_rep.jpg') repeat;
	width: 100%;
	min-height: 95px;

	-webkit-box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    4px 4px 18px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         4px 4px 18px 0px rgba(0, 0, 0, 0.35);
	margin: 0 15px;

	.row{
		background: url('../images/backs_sld_bottom_rep.jpg') repeat;
		.col-smalls{
			background-color: #3e4095;
			.txtsn_small{
				color: #fff;
				p{
					font-size: 21px; font-weight: 400;
					color: #fff;
					display: block;
					line-height: 1.3;
				}
			}
		}
		form{
			margin: 0;
			padding-top: 0.3rem;
			.form-group{
				select{
					min-width: 246px;
				}
			}
			button{
				background: none;
				background-color: #1e1f49;
				font-size: 18px; font-weight: 500; color: #fff;
				min-width: 246px;
			}
			button:hover,
			button:focus{
				background-color: #070829;
				color: #f5f5f5;
			}
		}
	}
	z-index: 275;
}

.socmed_scl{
	ul{
		li{
			a{
				i.fa{
					color: #fff;
					font-size: 13px;
				}
			}
		}
	}
}


section.back-abouts{}
section.top-covers{
	width: 100%;
	min-height: 120px;
	height: auto;
	background: url('../images/ill-abouts.jpg') center no-repeat;
	.inner-texts{
		h1, h4{
			margin: 0; display: block;
			padding: 0;
		}
		h1{
			font-size: 18px; font-weight: 400; color: #fff;
			margin-bottom: 0.3rem;
		}
		h4{
			font-size: 38px;
			font-weight: 600; color: #fff;
		}

		.lines-middle{
			width: 65px;
			height: 6px;
			background-color: #464dff;
			position: relative;
			margin-top: 0.8rem;
		}
	}
	position: relative;

	.pos-tops_submenu{
		position: absolute;
		top: 0px; left: 0px;
		width: 100%;
		z-index: 78;
		padding: 15px 0;
		border-bottom: 1px solid #b9b9b9;
		ul{
			margin: 0;
			li{
				a{
					font-size: 14px;
					font-weight: 600;
					color: #fff;
				}
				a:hover,
				a:focus{
					text-decoration: none;
					color: #3e4095;
				}
			}
			li.list-inline-item:not(:last-child){
				margin-right: 1em;
			}
		}
	}
	clear: both;
}